*{
    border-style: dashed;
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.container{
background-color: #3A5BA0;

}

.header{
background-color: #FF8080;
}

.nav{
background-color: #FFF7BC;
}

.slider{
background-color: #BD4291;
}

.section{

}

.footer{

}